#root {
  margin: 0;
  text-align: center;
  width: 100%;
}

.map-buttons {
  display: flex;
  justify-content: space-around;
}

/*adjust margin or padding for the buttons themselves */
.map-buttons button {
  margin: 0 10px;
}


.fire, .flood, .hurricane {
  margin: 0 10px; /* Adjust the value as needed */
}

.fire {
  width: 174px;
  height: 64px; 
  /* margin: 50px; */
  background-image: url('./assets/SVG/fire-dark.svg');
  /* background-size: cover; */
  /* transition: background-image 0.3s ease-in-out; */
}

.fire:hover {
  background-image: url('./assets/SVG/fire-light.svg');
}

.flood {
  width: 174px;
  height: 64px; 
  background-image: url('./assets/SVG/flood-dark.svg');
}

.flood:hover {
  background-image: url('./assets/SVG/flood-light.svg');
}

.hurricane {
  width: 174px;
  height: 64px; 
  background-image: url('./assets/SVG/hurricane-dark.svg');
}

.hurricane:hover {
  background-image: url('./assets/SVG/hurricane-light.svg');
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.fannie-mae-logo {
  
  background-color: gainsboro;
  display: flex;
  margin-bottom: 5%;
  width: 100%;
}
.fannie-mae-logo img {
  width: 20%;
  padding: 10px;
}

.main-content {
  margin-top: 5%;
}

.maps {
  display: flex;
  justify-content: center; /* horizontally center */
  align-items: center; /* vertically center */
}
