#root {
  margin: 0;
  text-align: center;
  width: 100%;
}

.map-buttons {
  display: flex;
  justify-content: space-around;
}

/*adjust margin or padding for the buttons themselves */
.map-buttons button {
  margin: 0 10px;
}


.fire, .flood, .hurricane {
  margin: 0 10px; /* Adjust the value as needed */
}

.fire {
  width: 174px;
  height: 64px; 
  /* margin: 50px; */
  background-image: url('./assets/SVG/fire-dark.svg');
  /* background-size: cover; */
  /* transition: background-image 0.3s ease-in-out; */
}

.fire:hover {
  background-image: url('./assets/SVG/fire-light.svg');
}

.flood {
  width: 174px;
  height: 64px; 
  background-image: url('./assets/SVG/flood-dark.svg');
}

.flood:hover {
  background-image: url('./assets/SVG/flood-light.svg');
}

.hurricane {
  width: 174px;
  height: 64px; 
  background-image: url('./assets/SVG/hurricane-dark.svg');
}

.hurricane:hover {
  background-image: url('./assets/SVG/hurricane-light.svg');
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
/* .logo.drought:hover {
  filter: drop-shadow(0 0 2em #646cffaa); 
} */

/* #Layer_2 .cls-10:hover {
  fill: #888
}

.logo.earthquake:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}  */

/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* @media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.fannie-mae-logo {
  
  background-color: gainsboro;
  display: flex;
  margin-bottom: 5%;
  width: 100%;
}
.fannie-mae-logo img {
  width: 20%;
  padding: 10px;
}

.main-content {
  margin-top: 5%;
}

.maps {
  display: flex;
  justify-content: center; /* horizontally center */
  align-items: center; /* vertically center */
}
