.sidebar {
    width: 400px;
    padding: 1rem;
    text-align: center;
    border-left: 1px solid #ccc;
}

.sidebar h2{
    padding: 0.5rem;
    font-size: 1.3rem ;
}

.sidebar h3{
    padding: 0.5rem;
    font-size: 1rem;
}